.chip {
    font-style: italic;
}

.message-form {
    display: flex;
    flex: 1;
    max-height: 136px;
    background-color: #009688 !important;
    color: white;
}

.message-form .input-field input {
    border-color: #FFFFFF;
}

.mdi-communication-chat {
    color: white;
}

